<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>input</title>
</head>
<body>
    <form th:object="${user}" class="w3-container" method="post">
        <fieldset>
            <legend>유저정보 등록</legend>
            <div>
                <lable class="w3-text-blue">USER NAME</lable>
                <input th:field="*{username}" class="w3-input">
            </div>
            <div>
                <lable class="w3-text-blue">PASSWORD</lable>
                <input th:field="*{password}" type="password" class="w3-input">
            </div>
            <div>
                <lable class="w3-text-blue">E-mail</lable>
                <input th:field="*{email}" class="w3-input">
            </div>
            <div>
                <button class="w3-button w3-yellow-green">저장</button>
            </div>
        </fieldset>
    </form>
</body>
</html>